/*-----------------------------------------
Body
-----------------------------------------*/
body {
  text-align: center;
  color: rgba(106, 106, 106, 1);
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

.spacer {
  background-color: rgba(162, 213, 213, 1);
  height: 2px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 2%;
}

#skills {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  font-size: 4em;
}

#about {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  font-size: 4em;
}

a.btn.btn-default {
  background-color: rgba(122, 173, 173, 1);
  color: white;
  border: none;
}

a.btn.btn-default:hover {
  background-color: rgba(162, 213, 213, 1);
}

/* Nav */

.navbar-form input, .form-inline input {
  width:auto;
}

header {
  height:280px;
  background-color:#eee;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

.glyphicon-bar {
  color: white;
  background-color: white;
}

li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12pt;
}

#logo {
  width: 50px;
  height: 45px;
  position: absolute;
  top: 0;
}

/*-----------------------------------------
Home
-----------------------------------------*/
.home {
  width: 100vw;
  height: 100vh;
  display: table;
}

#blackBackdrop {
  background-image: url(../img/subtle_carbon.png);
  width: 100%;
  height: 100%;
}

#landing-content {
  position: absolute;
  top: 0;
  background-image: url(../img/fractal1_fill.svg);
  opacity: .4;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-animation: pulse 5s ease-in infinite;
  -moz-animation: pulse 5s ease-in infinite;
  animation: pulse 5s ease-in infinite;
}

#movement2 {
  position: absolute;
  background-image: url(../img/fractal2_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  width: 800px;
  top: 0;
  right: 0;
  -webkit-animation: pulse 5s ease-out infinite;
  -moz-animation: pulse 5s ease-out infinite;
  animation: pulse 5s ease-out infinite;
}

#movement3 {
  position: absolute;
  background-image: url(../img/fractal3_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  width: 1200px;
  -webkit-animation: pulse 5s ease-out infinite;
  -moz-animation: pulse 5s ease-out infinite;
  animation: pulse 5s ease-out infinite;
}

#introText {
  padding-top: 15%;
}

#introName {
  font-size: 6em;
  color: rgba(162, 213, 213, 1);
  font-family: 'Josefin Sans', sans-serif;
}

#introDescription {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  /*margin-bottom: 1em;*/
}

/*-----------------------------------------
Services
-----------------------------------------*/
#services {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  font-size: 4em;
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  background-color: rgba(245,245,245,1);
  display: table;
  padding-top: 5%;
  /*border: 5px solid blue;*/
}

#servicesContainer {
  width: 75%;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 16pt;
}

.servicesIcon {
  width: 200px;
  height: 200px;
  background-color: rgba(162, 213, 213, 1);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10px;
}

/*-----------------------------------------
Portfolio
-----------------------------------------*/

#works {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  font-size: 4em;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245,245,245,1);
  display: table;
  padding-top: 7%;
}

#portfolioContainer {
  width: 75%;
  margin: 0 auto;
}

#portfolioContainer a {
  color: rgba(245,245,245,1);
  text-decoration: none;
  border: none;
}

.portfolio-title {
  display: none;
}

.overlay {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 1%;
  font-size: 19pt;
}

.overlay img {
  width: 250px;
  height: 250px;
}

.overlay:after {
  content: attr(data-content);
  color: #fff;
  text-align: center;
  font-size: 2em;
  position: absolute;
  padding-top: 100px;
  width: 250px;
  height: 250px;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.overlay:hover:after {
  opacity: 1;
}

.portfolio-title {
  position: relative;
  border: 1px solid black;
}

.projectTitle {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: absolute;
  left: 0;
}

.builtWith {
  display: inline-block;
/*  position: absolute;
  right: 0;*/
}

.builtWith p {
  display: inline-block;
/*  position: absolute;
  right: 0;*/
}

.projDesc {
  margin-bottom: 0;
  text-align: left;
}

/*-----------------------------------------
About
-----------------------------------------*/
#about {
  width: 100vw;
  height: 100vh;
  clear: both;
  padding-top: 5%;
  display: table;
}

#aboutSection {
  width: 50%;
  /*border: 1px solid orange;*/
  margin: 0 auto;
  /*text-align: center;*/
}

#aboutImage {
  width: 30%;
  border: 6px solid rgba(162, 213, 213, 1);
  border-radius: 50%;
  overflow: hidden;
}

#aboutDescription {
  margin: 0 auto;
  width: 65%;
  font-size: 18pt;
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

/*-----------------------------------------
Skills
-----------------------------------------*/
#skills {
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  display: table;
}

#skillSection {
  width: 70%;
  text-align: center;
  margin: 0 auto;

}

.skillColumn {
  width: 49%;
  display: inline-block;
}

.skillTitle {
  font-size: 16pt;
  text-align: left;
  padding-left: 15px;
  margin-bottom: -1%;
  font-weight: 700;
}

.skillBar {
  height: 30px;
  margin: 1%;
  margin-bottom: 2%;
  background-color: white;
}

.skillLevel {
  position: absolute;
  height: 30px;
  background-color: rgba(162, 213, 213, 1);
  overflow: hidden;
  text-align: right;
  padding-right: 5px;
  padding-top: 7px;
  color: white;
  font-size: 12pt;
  -webkit-animation: pulse 5s ease-out infinite;
  -moz-animation: pulse 5s ease-out infinite;
  animation: pulse 5s ease-out infinite;
}

  @-webkit-keyframes pulse { 
    50% { 
      -webkit-transform-origin: 0px 0px;
      -webkit-transform: scaleX(1.08); 
    } 
  }

  @keyframes pulse {
    50% {
      transform-origin: 0px 0px;
      transform: scaleX(1.08);
    }
  }

#jS {
  width: 29%;
}

#pS {
  width: 30%;
}

#iL {
  width: 31%;
}

#rOR {
  width: 29%;
}

#aX {
  width: 30%;
}

#rH {
  width: 30%;
}

#resume {
  /*border: 1px solid black;*/
  width: 80%;
  height: 5%;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 18pt;
}
/*-----------------------------------------
Contact
-----------------------------------------*/
#contact {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  font-size: 4em;
  width: 100vw;
  height: 70vh;
  padding-top: 5%;
}

#contactInfo {
  width: 70%;
  margin: 0 auto;
  font-size: 18pt;
  overflow: auto;
  /*text-align: left;*/
}

.socialIcons {
  height: 25px;
  width: 25px;
  background-color: rgba(162, 213, 213, 1);
  display: inline-block;
}

footer {
  position: absolute;
  bottom: 0;
  margin-left: 5%;
  margin-bottom: 15px;
  font-size: 8pt;
}