/*-----------------------------------------
Body
-----------------------------------------*/
body {
  text-align: center;
  color: rgba(106, 106, 106, 1);
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#blackBackdrop {
  background-image: url(../img/subtle_carbon.png);
  width: 100%;
  height: 100%;
}

#landing-content {
  position: absolute;
  top: 0;
  background-image: url(../img/fractal1_fill.svg);
  opacity: .4;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#movement2 {
  position: absolute;
  background-image: url(../img/fractal2_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  width: 800px;
  top: 0;
  right: 0;
}

#movement3 {
  position: absolute;
  background-image: url(../img/fractal3_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  width: 1200px;
}

#introText {
  padding-top: 15%;
}

#introName {
  font-size: 6em;
  color: rgba(162, 213, 213, 1);
  font-family: 'Josefin Sans', sans-serif;
}

#introDescription {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  /*margin-bottom: 1em;*/
}

.spacer {
  background-color: rgba(162, 213, 213, 1);
  height: 2px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 5%;
}

#skills {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#about {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#contact {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

/*-----------------------------------------
Portfolio
-----------------------------------------*/

#works {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

.portfolioGrid {
  width: 650px;
  height: 210px;
  margin: 0 auto;
  /*border: 1px solid orange;*/
}


/*-----------------------------------------
About
-----------------------------------------*/
#aboutSection {
  width: 60%;
  /*border: 1px solid orange;*/
  margin: 0 auto;
  /*text-align: center;*/
}

.aboutColumn {
  /*border: 1px solid orange;*/
  display: inline-block;
  width: 47%;
}

#elliePhoto {
  float: right;
  margin-right: 30px;
  width: 42%;
  border: 6px solid rgba(162, 213, 213, 1);
  border-radius: 50%;
  overflow: hidden;
}

#aboutDescription {
  font-size: 18pt;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

/*-----------------------------------------
Skills
-----------------------------------------*/
#skillSection {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.skillColumn {
  width: 49%;
  display: inline-block;
}

.skillTitle {
  text-align: left;
  padding-left: 15px;
  margin-bottom: -1%;
}

.skillBar {
  height: 30px;
  margin: 1%;
  background-color: white;
}

.skillLevel {
  position: absolute;
  height: 30px;
  background-color: rgba(162, 213, 213, 1);
  overflow: hidden;
}

#jS {
  width: 30%;
}

#pS {
  width: 31%;
}

/*-----------------------------------------
Contact
-----------------------------------------*/
#contactInfo {
  width: 70%;
  font-size: 18pt;
  text-align: center;
  /*border: 1px solid orange;*/
  margin: 0 auto;
}

.contactColumn {
  /*border: 1px solid orange;*/
  display: inline-block;
  text-align: left;
  margin: 0 4% 0 4%;
}

.socialIcons {
  height: 30px;
  width: 30px;
  background-color: rgba(162, 213, 213, 1);
  display: inline-block;
}

#footer {
  position: absolute;
  bottom: 0;
  margin-left: 5%;
  margin-bottom: 15px;
  font-size: 8pt;
}