/*-----------------------------------------
Body
-----------------------------------------*/
body {
  text-align: center;
  color: rgba(106, 106, 106, 1);
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#blackBackdrop {
  background-image: url(../img/subtle_carbon.png);
  width: 100%;
  height: 100%;
}

#landing-content {
  position: absolute;
  top: 0;
  /*overflow: auto;*/
  background-image: url(../img/fractal1_fill.svg);
  opacity: .4;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#movement2 {
  position: absolute;
  background-image: url(../img/fractal2_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /*border: 2px solid white;*/
  height: 1200px;
  width: 800px;
  top: 0;
  right: 0;
}

#movement3 {
  position: absolute;
  background-image: url(../img/fractal3_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /*border: 2px solid white;*/
  height: 800px;
  width: 1200px;
}

#introText {
  padding-top: 15%;
}

#introName {
  font-size: 5em;
  color: rgba(162, 213, 213, 1);
  font-family: 'Josefin Sans', sans-serif;
}

#introDescription {
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
  /*margin-bottom: 1em;*/
}

.spacer {
  background-color: rgba(162, 213, 213, 1);;
  height: 2px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 5%;
}

#skills {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#about {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#contact {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

/*-----------------------------------------
Portfolio
-----------------------------------------*/

#works {
  background-color: rgba(245,245,245,1);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}

#portfolio {

}

/*-----------------------------------------
About
-----------------------------------------*/

#elliePhoto {
  width: 80%;
  /*border: 3px solid orange;*/
  border-radius: 50%;
  overflow: hidden;
}

#aboutDescription {
  font-size: 1.5em;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(106, 106, 106, 1);
}