

/*-----------------------------------------
Body
-----------------------------------------*/
body {
  text-align: center;
  color: rgba(106, 106, 106, 1);
  font-family: 'Lato', sans-serif;
}

#blackBackdrop {
  background-image: url(../img/subtle_carbon.png);
  width: 100%;
  height: 100%;
}

#landing-content {
  overflow: auto;
  background-image: url(../img/fractal1_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 15%;
}

#movement1 {
  position: absolute;
  background-image: url(../img/fractal3_fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1200px;
  width: 800px;
}

#introText {
  z-index: 999;
  /*fix this*/
}

#introName {
  font-size: 4em;
  color: rgba(162, 213, 213, 1);
}

#introDescription {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#cta {
  width: 200px;
  height: 38px;
  border: 2px solid white;
  margin: 0 auto;
  padding-top: 20px;
  cursor: pointer;
  color: rgba(162, 213, 213, 1);
}

#cta:hover {
  background-color: rgba(162, 213, 213, 1);
  color: white;
}

.spacer {
  background-color: rgba(162, 213, 213, 1);;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}

#works {
  background-color: rgba(245,245,245,1);
}

#about {
  background-color: rgba(245,245,245,1);
}

#contact {
  background-color: rgba(245,245,245,1);
}