

/*-----------------------------------------
Body
-----------------------------------------*/
body {
  text-align: center;
  color: gold;
  font-family: 'Lato', sans-serif;
}


#landing-content {
  overflow: auto;
  background-image: url(http://placekitten.com/g/800/800);
  width: 100%;
  height: 100%;
  border: 5px solid red;
  padding-top: 15%;
}

#movement1 {
  position: absolute;
  border: 5px solid gold;
  background-image: url(http://placekitten.com/g/300/300);
  height: 300px;
  width: 300px;
}

#introText {
  font-size: 4em;
  z-index: 3;
}

#introDescription {
  font-size: 1.5em;
  margin-bottom: 1em;
}

#cta {
  width: 200px;
  height: 38px;
  border: 2px solid white;
  margin: 0 auto;
  padding-top: 20px;
  cursor: pointer;
}

.spacer {
  background-color: white;
  height: 2px;
  width: 100px;
  margin: 0 auto;
}

#works {
  background-color: red;
}

#about {
  background-color: green;
}

#contact {
  background-color: cyan;
}